<footer>
<p>
  Chcesz pomóc w rozwoju tej strony? 
  <a href="https://github.com/naugtur/nodejspl-site">https://github.com/naugtur/nodejspl-site</a>
</p>
<p>
  {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
