<header>
  <ul class="nav">
    <li>
      <a href="/">Node.js PL<small>node.meetjs.pl</small></a>
    </li>
    <li>
      <a href="/about">A co to?<small>O co tu chodzi?</small></a>
    </li>
    <li>
      <a href="/ini">Lokalnie<small>Lokalne grupy Node.js</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
